<!DOCTYPE html>
<html>

<head>
    <title>Skill Based Job Role Recommender</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>Skill-Based Job Role Recommender</h1>

    <h2>with Machine Learning</h2>

    <p>
        Get suitable job role recommendations
        based on your skills.
    </p>

    <a class="button" href="/register">
        Get Started
    </a>

    <a class="button secondary" href="/login">
        Login
    </a>

</div>

</body>

</html>